.container {
    margin: 40px;
}

.app {
    margin: auto;
    position: relative;
}

.app.loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.app.loading:after {
    content: '';
    position: absolute;
    width: 3em;
    height: 3em;
    top: 50%;
    left: 50%;
    border: 5px solid lightgray;
    border-top-color: gray;
    z-index: 101;
    margin: -1.5em 0 0 -1.5em;
    border-radius: 3em;
    animation: 1s linear 0s infinite spin;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.table thead {
    border-top: 1px solid lightgray;
}


.table td, .table th {
    text-align: center;
    padding: .5em 1em;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.table td:first-child, .table th:first-child {
    border-left: 1px solid lightgray;
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.paginator .link {
   display: inline-block;
   padding: .5rem .5rem;
   text-decoration: none;
}

.paginator .link.active {
    pointer-events: none;
    color: black;
}

.field {
    width: 100%;
    margin: 1.5rem 1rem;
}

.message {
    background-color: red;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}


.field label, .field input {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
}

.field label:first-child {
    min-width: 10rem;
}

.hidden {
    display: none !important;
}

.list.app .new {
    color: green;
    margin: 0rem 1rem;
}
